<div class="navbar" id="myTopnav">
        <a id="first"><b>Eh I Games</b></a>
          <a routerLink="/"><i class="fas fa-home"></i></a>
          
          <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-gamepad"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/pictionarAI-intro">
                <i class="fas fa-pencil-alt"></i>
                  <span>PictionarAI</span>
              </a>
              <a routerLink="/rps-preview">
                <i class="fas fa-hand-scissors"></i>
                <span>Rock, paper, scissors</span>
              </a>
              <a routerLink="/madlibs-intro">
                <i class="fas fa-book"></i>
                <span>MadLibs</span>
             </a>
              <a routerLink="/painter-intro">
              <i class="fas fa-paint-brush"></i>
              <span>Painter Party</span>
              </a>
            </div>
          </div> 
          <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-laptop-code"></i>
              </button>
              <div class="dropdown-content">
                <a routerLink="/animation">
                  <i class="fas fa-user"></i>
                    <span>Animation</span>
                </a>
                <a routerLink="/summer">
                  <i class="fas fa-dog"></i>
                  <span>Dog Generator (WIP)</span>
                </a>
                <a routerLink="/age">
                  <i class="fas fa-baby"></i>
                  <span>Age Guesser</span>
               </a>
                <a routerLink="/dog-breeds">
                <i class="fas fa-bone"></i>
                <span>Dog Classifier</span>
                </a>
              </div>
            </div> 
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-comments"></i>
                </button>
                <div class="dropdown-content">
                  <a routerLink="/articles">
                    <i class="fas fa-pen"></i>
                      <span>Articles</span>
                  </a>
                  <a routerLink="/comment">
                    <i class="far fa-comment"></i>
                    <span>Write Comment</span>
                  </a>
                  <a routerLink="/comment-display">
                    <i class="far fa-comments"></i>
                    <span>Read Comments</span></a>
                </div>
              </div> 
          <a class="about" routerLink="/about"><i class="fas fa-address-card"></i></a>
          <div class="dropdown" id="icon">
                <button class="dropbtn"><i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-content">
                        <a routerLink="/pictionarAI-intro">
                            <i class="fas fa-pencil-alt"></i>
                              <span>PictionarAI</span>
                          </a>
                          <a routerLink="/rps-preview">
                            <i class="fas fa-hand-scissors"></i>
                            <span>Rock, paper, scissors</span>
                          </a>
                          <a routerLink="/madlibs-intro">
                            <i class="fas fa-book"></i>
                            <span>MadLibs</span>
                         </a>
                         <a routerLink="/animation">
                            <i class="fas fa-user"></i>
                              <span>Animation</span>
                          </a>
                          <a routerLink="/summer">
                            <i class="fas fa-dog"></i>
                            <span>Dog Generator (WIP)</span>
                          </a>
                          <a routerLink="/age">
                            <i class="fas fa-baby"></i>
                            <span>Age Guesser</span>
                         </a>
                          <a routerLink="/dog-breeds">
                          <i class="fas fa-bone"></i>
                          <span>Dog Classifier</span>
                          </a>
                          <a routerLink="/painter-intro">
                          <i class="fas fa-paint-brush"></i>
                          <span>Painter Party</span>
                          </a>
                          <a routerLink="/articles">
                            <i class="fas fa-pen"></i>
                              <span>Articles</span>
                          </a>
                          <a routerLink="/comment">
                            <i class="far fa-comment"></i>
                            <span>Write Comment</span>
                          </a>
                          <a routerLink="/comment-display">
                            <i class="far fa-comments"></i>
                            <span>Read Comments</span></a>
                            <a routerLink="/about">
                                <i class="fas fa-address-card"></i>
                                <span>About</span></a>
                </div>
              </div>
</div>

