
<nb-actions class="header-elements" id="action-bar" size="large">
    <nb-action><b>CoolAIGames</b></nb-action>
    <nb-action routerLink=""><i class="fas fa-home"></i></nb-action>
    <nb-action routerLink="comment"><i class="fas fa-comments"></i></nb-action>
    <nb-action><i class="fas fa-camera-retro"></i></nb-action>
    <nb-action routerLink="fruit-types"><i class="fas fa-apple-alt"></i></nb-action>
    <nb-action routerLink="dog-breeds"><i class="fas fa-dog"></i></nb-action>
    <nb-action routerLink="drawing-canvas"><i class="fas fa-paint-brush"></i></nb-action>
    <nb-action routerLink="rps-game"><i class="fas fa-hand-scissors"></i></nb-action>
    <nb-action><nb-search type="rotate-layout"></nb-search></nb-action>
</nb-actions>