<mat-card>
    <h1>Login</h1>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput ngModel placeholder="Username" type="text" name="username" #usernameInput="ngModel" required>
            <mat-error *ngIf="usernameInput.invalid">Please enter valid username</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput ngModel placeholder="Password" type="password" name="password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log in</button>
    </form>
    <p>Don't have an account?</p><a mat-raised-button color="secondary" routerLink="/signup">Create Account</a>
</mat-card>