<h1>Dog Breed Classifier</h1>
<nb-card id="buttons">
    <nb-card-body>
        <p>Upload an image below to have it classified!</p>
        <form [formGroup]="form" (submit)="analyzeImage()">
                <div>
                    <button (click)="filePicker.click()" mat-stroke-button color="primary" type="button">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                </div>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                        <img [src]="imagePreview" [alt]="form.value.title">
                </div>
                <button mat-raised-button color="accent" type="submit">Analyze!</button>
            </form>
    </nb-card-body>
</nb-card>
<nb-card id="results">
    <div *ngIf="predictionLabel != undefined">
        <h2>Guess</h2>
        <h2>Breed: {{predictionLabel.substr(10)}}</h2>
        <h2>Confidence: {{predictionConfidence}}</h2>
     </div>
</nb-card>
<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Accuracy
        </mat-expansion-panel-header>
        <b></b>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Classes
        </mat-expansion-panel-header>
        


    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Network Details
        </mat-expansion-panel-header>
        <ul>
            <li>Type: Convolutional</li>
            <li>Time to Train: 1 hour</li>
            <li>Number of Classes: 120</li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>