@import "../../../variables.scss";

nb-card {
    text-align: center;
}

div {
    text-align: center;
}

modal {
    background-color: black;
}

#container-canvas {
    padding: 1em;
}

#canvas {
    border: 4px solid $main-color;
}

h1 {
    text-align: center;
}

button {
    background-color: $accent-color;
    color: white;
}

h3 {
    padding-top: 1em;
}