nb-card {
    text-align: center;
}

div {
    text-align: center;
}

modal {
    background-color: black;
}

#container-canvas {
    padding: 1em;
}

#canvas {
    border: 4px solid rgb(66, 118, 187);
}

h1 {
    text-align: center;
}

button {
    background-color: #FF7F50;
    color: white;
}

h3 {
    padding-top: 1em;
}