<nb-layout>
    <nb-layout-column>
        <nb-card>
            <mat-grid-list rowHeight="50px" cols="2">
                <mat-grid-tile [rowspan]=5>
                        <div>
                                <img src="../../assets/images/logo.png" height="200" width="200">
                        </div>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]=7>
                    <nav>
                        <ul>
                            <h1 id="about">About</h1>
                                <li>Eh I Project is a personal project to host a collection of demonstrations and games all relating to AI! </li>
                                <li>Every game and demonstration on this website was made by me, including the training and creation of the neural networks. </li>
                                <li>There is also a blog section where I write about experiments, modified or new architectures that I hvae been working on or that I find cool!</li>
                                <li>I hope you enjoy and feel free to leave feedback and suggestions for future games/projects in the comments!</li>
                        </ul>
                    </nav>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div id="links">
                        <p><i class="fas fa-envelope"></i>  bradley19brown@gmail.com<br>
                        <i class="fab fa-linkedin-in"></i>    <a>www.linkedin.com/in/bradleycabrown</a></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>

                </mat-grid-tile>
            </mat-grid-list>
        </nb-card>
    </nb-layout-column>
</nb-layout>