@import "../../../variables.scss";

nb-card {
    text-align: center;
}

div {
    text-align: center;
}

modal {
    background-color: black;
}

#container-canvas {
    padding: 1em;
}

#canvas {
    border: 4px solid gray;
}

h1 {
    text-align: center;
}

h3 {
    padding-top: 1em;
}

ul {
    list-style: none;
}

mat-form-field {
    margin-top: 1em;
}
