@import "../../../variables.scss";

h1 {
    text-align: center;
}

mat-card {
    width: 80%;
    margin: auto;
}

#select {
    width: 20%;
    margin-right: 1.5em;
}

text-area, mat-form-field {
    width: 100%
}

#story-background {
    color: white;
    background-image: ""
}

h2 {
    color: white;
}