<mat-card>
        <h1>Create an Account</h1>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <mat-form-field>
                <input matInput ngModel placeholder="Email" type="text" name="email" #emailInput="ngModel" required>
                <mat-error *ngIf="usernameInput.invalid">Please enter valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput ngModel placeholder="Username" type="text" name="username" #usernameInput="ngModel" required>
                <mat-error *ngIf="usernameInput.invalid">Please enter valid username</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput ngModel placeholder="Password" type="password" name="password" #passwordInput="ngModel" required>
                <mat-error *ngIf="passwordInput.invalid">Please enter valid password</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Create Account!</button>
        </form>
    </mat-card>