h1 {
    text-align: center;
}

#video {
    background-color: #000000;
    border: 2px solid black;
}

#canvas {
    display: none;
}

mat-grid-list {
    background-color: rgb(66, 118, 187);
    padding: 1em;
}

mat-grid-tile {
    display: block
}

#move-background {
    align-content: center;
    background-color: white;
    border: 2px solid black;
    width: 533px;
}

img {
    display: block;
    margin: auto;
}

#winner {
    font-size: 4em;
}
