body {
    margin: 0px;
}

nb-card {
    padding: 1em;
    background-color: rgb(66, 118, 187);
}

mat-expansion-panel {
    color: white;
    background-color: rgb(66, 118, 187);
}

h1 {
    text-align: center;
    padding: 0.5em;
    color: white
}

i {
    font-size: 10em;
    margin: auto;
    color:rgb(206, 101, 188);
    padding-bottom: 0.3em;
}

button {
    margin: auto;
    background-color: #FF7F50;
    width: 10%;
}