<mat-accordion multi="true" *ngIf="comments.length > 0">
    <mat-expansion-panel *ngFor="let comment of comments">
        <mat-expansion-panel-header>
            {{comment.title}}
        </mat-expansion-panel-header>
        <p> {{comment.content}} </p>

        <mat-action-row>
            <button mat-button color="primary" [routerLink]="['/edit-comment', comment._id]">Edit</button>
            <button mat-button color="warn" (click)="onDelete(comment._id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="comments.length == 0">No posts to show!</p>