<h1>Age Guesser</h1>
<nb-card>
    <nb-card-body>
        <p>Upload a picture to have the age guessed!!</p>
        <form [formGroup]="form" (submit)="analyzeImage()">
                <div>
                    <button (click)="filePicker.click()" mat-stroke-button color="primary" type="button">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                </div>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                        <img [src]="imagePreview" [alt]="form.value.title">
                </div>
                <button mat-raised-button color="accent" type="submit">Analyze!</button>
            </form>
    </nb-card-body>
</nb-card>
<nb-card id="results">
    <div *ngIf="predictionLabel != undefined">
        <h2>Result: {{predictionLabel}} years old</h2>
     </div>
</nb-card>
<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Accuracy
        </mat-expansion-panel-header>
        <b>25%</b>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Classes
        </mat-expansion-panel-header>
            All the ages between 0 and 99


    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Network Details
        </mat-expansion-panel-header>
        <ul>
            <li>Type: Convolutional</li>
            <li>Time to Train: 10 mins</li>
            <li>Number of Classes: 100</li>
            <li>Made on: Pytorch</li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
            <mat-expansion-panel-header>
               Source
            </mat-expansion-panel-header>
            <a href="https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/">IMBD Face Dataset</a>
        </mat-expansion-panel>
</mat-accordion>