<h1>Painting Similarity</h1>
<nb-card>
    <nb-card-body>
        <p>Upload a painting and see which artist it looks like it belong to!</p>
        <form [formGroup]="form" (submit)="analyzeImage()">
                <div>
                    <button (click)="filePicker.click()" mat-stroke-button color="primary" type="button">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                </div>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                        <img [src]="imagePreview" [alt]="form.value.title">
                </div>
                <button mat-raised-button color="accent" type="submit">Analyze!</button>
            </form>
    </nb-card-body>
</nb-card>
<nb-card id="results">
    <div *ngIf="predictionLabel != undefined">
        <h2>Result: </h2>
     </div>
</nb-card>
<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Accuracy
        </mat-expansion-panel-header>
        <b>51%</b>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Classes
        </mat-expansion-panel-header>
        


    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Network Details
        </mat-expansion-panel-header>
        <ul>
            <li>Type: Convolutional</li>
            <li>Time to Train: 1.5 hours</li>
            <li>Number of Classes: 50</li>
            <li>Made on: Tensorflow</li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>