<h1>Attactiveness Score</h1>
<nb-card>
    <nb-card-body>
        <p>Upload a picture of a face to have it rated!</p>
        <form [formGroup]="form" (submit)="analyzeImage()">
                <div>
                    <button (click)="filePicker.click()" mat-stroke-button color="primary" type="button">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                </div>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                        <img [src]="imagePreview" [alt]="form.value.title">
                </div>
                <button mat-raised-button color="accent" type="submit">Analyze!</button>
            </form>
    </nb-card-body>
</nb-card>
<nb-card id="results">
    <div *ngIf="predictionLabel != undefined">
        <h2>Rating: {{predictionLabel}}</h2>
        <div *ngIf="predictionLabel <= 3">
            <h2>(Remember, it's only 50% accurate)</h2>
        </div>
     </div>
</nb-card>
<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Accuracy
        </mat-expansion-panel-header>
        <b>51%</b>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Classes
        </mat-expansion-panel-header>
        Rating on a scale of 1-5


    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
           Network Details
        </mat-expansion-panel-header>
        <ul>
            <li>Type: Convolutional</li>
            <li>Time to Train: 5 mins</li>
            <li>Number of Classes: 5</li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>